*{
    margin: 0;
    padding: 0;
}
.samsung_products{
  justify-content: space-evenly;
  margin-top: 50px;
  display: flex;
  
  text-align: center;
  margin-top: 30px;
}
.Galaxy_z {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    text-align: center;
    font-family: arial;
    border-radius: 25%;
}
  
.price {
    color: black;
    font-size: 22px;
}
  
.Galaxy_z button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.Galaxy_z button:hover {
    background-color: white;
    color: black;
}
img{
    height: 200px;
    width: 200px;
}

